{% extends 'base.html' %}

{% block content %}

    <h1>Cloud Computing Course Project #2 | Nina Mir </h1>

    <p>This Python Flask application demonstrates App Engine Flexible, Google Cloud
    Storage, Datastore, and the Cloud Vision API.</p>

    <br>

      <form action="upload_photo" method="POST" enctype="multipart/form-data">
        <input class="btn-secondary" type="file" name="file"><br><hr>
        <div class="form-group row">
          <div class="col">
            <input type="text" name="name"
                  placeholder="Photographer's Name" class="form-control"
                  value="{{ request.form['name'] }}"></input>
          </div>
          <div class="col">
            <input name="location" placeholder="Location e.g. San Francisco, CA"
                  class="form-control" value="{{ request.form['location'] }}"></input>
          </div>
          <div class="col">
            <input name="date" placeholder="Date: September-24-2020 or 09/14/2020 or whatever"
                  class="form-control" value="{{ request.form['date'] }}"></input>
          </div>
        </div>

        <input class="btn btn-primary" type="submit" name="submit" value="Submit">
      </form>
      <div>
        {% for label in labels %}
          <p>{{label['description']}}.</p>
        {% endfor %}
      </div>
        
{% endblock %}
