{% extends 'base.html' %}

{% block content %}

    <h1> </h1>

    <p class="text-uppercase">Cloud Computing Course Project #2 | Nina Mir | October 2020 | SF State <hr>
      This Python Flask application demonstrates App Engine Flexible, Google Cloud
    Storage, Datastore, and the Cloud Vision API.</p>

    <br>

      <form action="upload_photo" method="POST" enctype="multipart/form-data">
        <input class="btn-secondary" type="file" name="file"><br><hr>
        <div class="form-group row">
          <div class="col">
            <input type="text" name="name"
                  placeholder="Photographer's Name" class="form-control"
                  value="{{ request.form['name'] }}"></input>
          </div>
          <div class="col">
            <input name="location" placeholder="Location e.g. San Francisco, CA"
                  class="form-control" value="{{ request.form['location'] }}"></input>
          </div>
          <div class="col">
            <input name="date" placeholder="Date: September-24-2020 or 09/14/2020 or whatever"
                  class="form-control" value="{{ request.form['date'] }}"></input>
          </div>
        </div>

        <input class="btn btn-primary" type="submit" name="submit" value="Submit">
      </form>
      <div>
        {% if labels %}
          <hr>
          <h3 class="d-inline-block">Results of the Google Vision API call: </h3>
          <div class="row">
            <div class="col">
              <pre>
                <code>
# Create a Cloud Vision client.
vision_client = vision.ImageAnnotatorClient()

# Use the Cloud Vision client to label the uploaded image.
source_uri = "gs://{}/{}".format(CLOUD_STORAGE_BUCKET, blob.name)
image = vision.Image(source=vision.ImageSource(gcs_image_uri=source_uri))

# Performs label detection on the image file
response = vision_client.label_detection(image=image)
labels = response.label_annotations
                </code>
              </pre>            
            </div>
            <div class="col">
              {% for label in labels %}
                <p class="rounded d-inline-block p-2 m-2 bg-primary text-white">{{label['description']}} </p>
              {% endfor %} 
            </div>
          </div>          
        {% endif %}
      </div>
        
{% endblock %}
