{% extends 'base.html' %}

{% block content %}
    
    {% for category in ['Animals', 'People', 'Flowers', 'Other'] %}
        <h1> {{ category }}</h1> 
        <hr>

        <div class="container">
            <div class="row">
                {% for image_entity in image_entities %}
                    {% if image_entity['category'] ==  category  %}
                        <div class="column">
                            <a href="{{ url_for('edit', post_id = image_entity['blob_name']) }}">
                                <span class="badge badge-warning">Edit</span>
                            </a>
                            <a href="{{ url_for('post', post_id = image_entity['blob_name'] ) }}">
                                <img src="{{image_entity['image_public_url']}}" width=200>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <hr>    
    {% endfor %}

{% endblock %}
